/*
 * @Author: eobeans
 * @Date: 2020-08-28 17:52:54
 * @LastEditors: eobeans
 * @LastEditTime: 2021-03-15 14:13:58
 * @version: 0.1.0
 * @Descripttion: 
 */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; } 

.ant-row {
  height: 26px;
}
.ant-table-placeholder {
  height: 654px;
}
.jtyw-main-container {
  min-width: 800px;
}
.ant-layout-footer {
  padding: 12px 50px;
}